.logo-container {
    position: relative;
  }
  
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px; 
  }
  
  .logo img {
    width: 250%;
    height: 100px;
    font-weight: bolder;
    margin: 40%;}
  /* }
  .nav-link{
    display: inline-block;
    width: 100px;
    list-style: none;
  } */
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #337ab7;
  }
  
  nav a:hover {
    color: #23527c;
  }
   /* FOOTER WORK IS HERE */
.footer{
  padding-top: 100px;
  padding-bottom: 100px;
}
.content>div{
  margin-top: 20px;
}

.content{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.content a{
  line-height: 40px;
  font-size: 12px;
}
.content h5{
  margin-bottom: 20px;
}

.content a:hover{
  text-decoration-line: underline;
}

